
<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Create a tood</h3>
		</div>
		<div class="panel-body">
			<%= form_for @todo, html: { class: 'form-horizontal', role: 'form'} do |f| %>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><%= fa_icon "pencil-square-o" %></span>
				    <%= f.text_field :description, autofocus: "true", class: "form-control", placeholder: 'What do wanna do?',  required: "true" %>
							<%#= fa_icon "camera-retro" %>
					</div>
				</div>
		    <div class="col-sm-10">
		      <%= f.submit 'Create todo', class: 'btn btn-primary' %>	
		    </div>
	 		<% end %>		
		</div>
	</div>	
</div>
